## 국내유가와 국제유가의 상관관계 분석

In [1]:
import pandas as pd
import numpy as np
import re

In [36]:
#국내유가 데이터 불러오기 
domestic_data = pd.read_csv('./data/부산시유가데이터_fillna.csv', encoding='utf-8', sep=',')
domestic_data.head()

,번호,지역,상호,주소,기간,상표,셀프여부,휘발유,경유
0,A0033158,부산 강서구,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220214,S-OIL,셀프,1638.0,1508.0
1,A0033158,부산 강서구,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220215,S-OIL,셀프,1638.0,1518.0
2,A0033158,부산 강서구,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220216,S-OIL,셀프,1668.0,1518.0
3,A0033158,부산 강서구,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220217,S-OIL,셀프,1678.0,1528.0
4,A0033158,부산 강서구,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220218,S-OIL,셀프,1678.0,1538.0

In [37]:
#국제유가 데이터 불러오기 
international_data = pd.read_csv('./data/기간별 환율(20220214-20220816).csv', encoding='utf-8', sep=',')
international_data.head()

         일자           매매기준율
0  20220816  1,308.40상승2.40
1  20220815  1,306.00상승4.50
2  20220814  1,306.00상승4.50
3  20220813  1,306.00상승4.50
4  20220812  1,306.00상승4.50

#### 매매기준율에서 환율만 추출하기

In [38]:
international_data["매매기준율"] = international_data["매매기준율"].apply(lambda x : re.split("[ㄱ-ㅣ가-힣]", x)).str.get(0).str.replace(",","").astype(float)
international_data.head()

         일자   매매기준율
0  20220816  1308.4
1  20220815  1306.0
2  20220814  1306.0
3  20220813  1306.0
4  20220812  1306.0

In [5]:
international_data

           일자   매매기준율
0    20220816  1308.4
1    20220815  1306.0
2    20220814  1306.0
3    20220813  1306.0
4    20220812  1306.0
..        ...     ...
179  20220218  1195.0
180  20220217  1197.5
181  20220216  1196.5
182  20220215  1198.0
183  20220214  1197.0

[184 rows x 2 columns]

In [39]:
#날짜 오름차순으로 정리
international_data.sort_values(by=["일자","매매기준율"], inplace=True)
international_data

           일자   매매기준율
183  20220214  1197.0
182  20220215  1198.0
181  20220216  1196.5
180  20220217  1197.5
179  20220218  1195.0
..        ...     ...
4    20220812  1306.0
3    20220813  1306.0
2    20220814  1306.0
1    20220815  1306.0
0    20220816  1308.4

[184 rows x 2 columns]

In [42]:
#인덱스 정리
international_data = international_data.reset_index().drop(columns="index")
international_data

           일자   매매기준율
0    20220214  1197.0
1    20220215  1198.0
2    20220216  1196.5
3    20220217  1197.5
4    20220218  1195.0
..        ...     ...
179  20220812  1306.0
180  20220813  1306.0
181  20220814  1306.0
182  20220815  1306.0
183  20220816  1308.4

[184 rows x 2 columns]

1 bbl(배럴당) = 158.9ℓ(리터)

KRW /ℓ= (두바이유(w)*환율)/158.9ℓ

In [21]:
# 두바이유가 데이터 불러오기
du = pd.read_csv("./data/국제유가(두바이).csv", encoding="utf-8")
du.head()

           날짜  두바이_종가
0  2022-08-15   94.97
1  2022-08-12   96.48
2  2022-08-11   98.18
3  2022-08-10   96.87
4  2022-08-09   95.97

In [22]:
#날짜 오름차순으로 정리
du.sort_values(by=["날짜","두바이_종가"], inplace=True)
du

             날짜  두바이_종가
132  2022-02-03   89.16
131  2022-02-04   91.06
130  2022-02-07   90.76
129  2022-02-08   89.28
128  2022-02-09   89.88
..          ...     ...
4    2022-08-09   95.97
3    2022-08-10   96.87
2    2022-08-11   98.18
1    2022-08-12   96.48
0    2022-08-15   94.97

[133 rows x 2 columns]

In [43]:
#인덱스 정리
du = du.reset_index().drop(columns="index")
du

             날짜  두바이_종가
0    2022-02-03   89.16
1    2022-02-04   91.06
2    2022-02-07   90.76
3    2022-02-08   89.28
4    2022-02-09   89.88
..          ...     ...
128  2022-08-09   95.97
129  2022-08-10   96.87
130  2022-08-11   98.18
131  2022-08-12   96.48
132  2022-08-15   94.97

[133 rows x 2 columns]

#### 두바이 유가, 국내 유가 합치기

In [49]:
# int64->object->datetime 타입변경
international_data["일자"] = pd.to_datetime(international_data["일자"].astype(str))
international_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      184 non-null    datetime64[ns]
 1   매매기준율   184 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 3.0 KB

In [50]:
# object->datetime 타입변경
du["날짜"] = pd.to_datetime(du["날짜"])
du.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133 entries, 0 to 132
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      133 non-null    datetime64[ns]
 1   두바이_종가  133 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 2.2 KB

In [59]:
# 두바이 유가, 국내 유가 합치기
int_du_price = pd.merge(international_data, du, left_on="일자", right_on="날짜")
int_du_price

            일자   매매기준율         날짜  두바이_종가
0   2022-02-14  1197.0 2022-02-14   92.61
1   2022-02-15  1198.0 2022-02-15   90.86
2   2022-02-16  1196.5 2022-02-16   91.56
3   2022-02-17  1197.5 2022-02-17   90.67
4   2022-02-18  1195.0 2022-02-18   90.90
..         ...     ...        ...     ...
121 2022-08-09  1306.0 2022-08-09   95.97
122 2022-08-10  1305.0 2022-08-10   96.87
123 2022-08-11  1301.5 2022-08-11   98.18
124 2022-08-12  1306.0 2022-08-12   96.48
125 2022-08-15  1306.0 2022-08-15   94.97

[126 rows x 4 columns]

In [63]:
#날짜 컬럼 삭제
int_du_price = int_du_price.drop(columns="날짜")
int_du_price

In [67]:
# 2월14일부터 8월 9일 외의 데이터 삭제
int_du_price = int_du_price.iloc[:122]
int_du_price

            일자   매매기준율  두바이_종가
0   2022-02-14  1197.0   92.61
1   2022-02-15  1198.0   90.86
2   2022-02-16  1196.5   91.56
3   2022-02-17  1197.5   90.67
4   2022-02-18  1195.0   90.90
..         ...     ...     ...
117 2022-08-03  1311.5   95.97
118 2022-08-04  1310.5   94.08
119 2022-08-05  1299.5   94.41
120 2022-08-08  1304.5   96.04
121 2022-08-09  1306.0   95.97

[122 rows x 3 columns]

### 머신러닝 기본 설정

In [7]:
# 기본적인 패키지부터 추가
import numpy as np
import pandas as pd
import scipy as super

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
from matplotlib import rc
import matplotlib.font_manager as fm

plt.rc('font', family='Malgun Gothic')
sns.set(font='Malgun Gothic', rc={'axes.unicode_minus':False}, style='darkgrid')

In [11]:
# 머신러닝 패키지 추가
import statsmodels.api as sm
import sklearn as sk