## 부산시 주유소 유가 데이터 전처리
#### 기간 : 20220214~20220809
#### 주차별 평균으로 사용

In [289]:
import pandas as pd
import numpy as np

In [302]:
#데이터 불러오기 
data = pd.read_csv("./data/부산시 주유소 유가 데이터(20220209-20220809).csv", index_col=1, encoding="utf-8")
data

,번호,상호,주소,기간,상표,셀프여부,휘발유,경유
지역,,,,,,,,
부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220214,S-OIL,셀프,1638,1508
부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220215,S-OIL,셀프,1638,1518
부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220216,S-OIL,셀프,1668,1518
부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220217,S-OIL,셀프,1678,1528
부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220218,S-OIL,셀프,1678,1538
...,...,...,...,...,...,...,...,...
부산 해운대구,A0031437,현대오일뱅크㈜직영 센텀셀프주유소,부산 해운대구 해운대로 179 (재송동),20220805,현대오일뱅크,셀프,1810,1920
부산 해운대구,A0031437,현대오일뱅크㈜직영 센텀셀프주유소,부산 해운대구 해운대로 179 (재송동),20220806,현대오일뱅크,셀프,1810,1920
부산 해운대구,A0031437,현대오일뱅크㈜직영 센텀셀프주유소,부산 해운대구 해운대로 179 (재송동),20220807,현대오일뱅크,셀프,1810,1920
부산 해운대구,A0031437,현대오일뱅크㈜직영 센텀셀프주유소,부산 해운대구 해운대로 179 (재송동),20220808,현대오일뱅크,셀프,1810,1920
부산 해운대구,A0031437,현대오일뱅크㈜직영 센텀셀프주유소,부산 해운대구 해운대로 179 (재송동),20220809,현대오일뱅크,셀프,1760,1870

In [303]:
#인덱스 생성
data.reset_index(inplace=True)

#### 데이터 확인

In [247]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69331 entries, 0 to 69330
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      69331 non-null  object
 1   번호      69331 non-null  object
 2   상호      69331 non-null  object
 3   주소      69331 non-null  object
 4   기간      69331 non-null  int64
 5   상표      69331 non-null  object
 6   셀프여부    69331 non-null  object
 7   휘발유     69331 non-null  int64
 8   경유      69331 non-null  int64
dtypes: int64(3), object(6)
memory usage: 4.8+ MB

In [292]:
data.head()

,지역,번호,상호,주소,기간,상표,셀프여부,휘발유,경유
0,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220214,S-OIL,셀프,1638,1508
1,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220215,S-OIL,셀프,1638,1518
2,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220216,S-OIL,셀프,1668,1518
3,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220217,S-OIL,셀프,1678,1528
4,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220218,S-OIL,셀프,1678,1538

In [225]:
data.isnull().sum()

지역      0
번호      0
상호      0
주소      0
기간      0
상표      0
셀프여부    0
휘발유     0
경유      0
dtype: int64

In [226]:
data.describe()

                 기간           휘발유            경유
count  6.933100e+04  69331.000000  69331.000000
mean   2.022050e+07   1936.593472   1904.278317
std    1.749156e+02    168.172272    180.967678
min    2.022021e+07      0.000000      0.000000
25%    2.022033e+07   1888.000000   1855.000000
50%    2.022051e+07   1959.000000   1925.000000
75%    2.022062e+07   2028.000000   2028.000000
max    2.022081e+07   2385.000000   2438.000000

In [227]:
#휘발유 0값 추출
data[data["휘발유"] == 0].head()

,지역,번호,상호,주소,기간,상표,셀프여부,휘발유,경유
766,부산 강서구,A0027640,(주)비에스이강동주유소,부산 강서구 낙동북로 18 (강동동),20220323,현대오일뱅크,셀프,0,1899
7174,부산 강서구,A0027564,우리2주유소,부산 강서구 낙동북로 142 (강동동),20220404,S-OIL,셀프,0,0
7175,부산 강서구,A0027564,우리2주유소,부산 강서구 낙동북로 142 (강동동),20220405,S-OIL,셀프,0,0
17567,부산 기장군,A0031933,삼2주유소,부산 기장군 일광면 기장대로 1291,20220807,S-OIL,일반,0,1894
17568,부산 기장군,A0031933,삼2주유소,부산 기장군 일광면 기장대로 1291,20220808,S-OIL,일반,0,1879

In [228]:
#경유 0값 추출
len(data[data["경유"] == 0])

17

#### 연도별 주차 평균 데이터

In [304]:
#int64->object->datetime 타입변경
data['기간'] = pd.to_datetime(data['기간'].astype(str))
data

,지역,번호,상호,주소,기간,상표,셀프여부,휘발유,경유
0,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),2022-02-14,S-OIL,셀프,1638,1508
1,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),2022-02-15,S-OIL,셀프,1638,1518
2,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),2022-02-16,S-OIL,셀프,1668,1518
3,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),2022-02-17,S-OIL,셀프,1678,1528
4,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),2022-02-18,S-OIL,셀프,1678,1538
...,...,...,...,...,...,...,...,...,...
67406,부산 해운대구,A0031437,현대오일뱅크㈜직영 센텀셀프주유소,부산 해운대구 해운대로 179 (재송동),2022-08-05,현대오일뱅크,셀프,1810,1920
67407,부산 해운대구,A0031437,현대오일뱅크㈜직영 센텀셀프주유소,부산 해운대구 해운대로 179 (재송동),2022-08-06,현대오일뱅크,셀프,1810,1920
67408,부산 해운대구,A0031437,현대오일뱅크㈜직영 센텀셀프주유소,부산 해운대구 해운대로 179 (재송동),2022-08-07,현대오일뱅크,셀프,1810,1920
67409,부산 해운대구,A0031437,현대오일뱅크㈜직영 센텀셀프주유소,부산 해운대구 해운대로 179 (재송동),2022-08-08,현대오일뱅크,셀프,1810,1920
67410,부산 해운대구,A0031437,현대오일뱅크㈜직영 센텀셀프주유소,부산 해운대구 해운대로 179 (재송동),2022-08-09,현대오일뱅크,셀프,1760,1870

In [305]:
#연도의 주차
data["주차"] = data["기간"].dt.weekofyear

C:\Users\admin\AppData\Local\Temp\ipykernel_8724\1939945981.py:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  data["주차"] = data["기간"].dt.weekofyear

In [314]:
data.head(10)

,지역,번호,상호,주소,기간,상표,셀프여부,휘발유,경유,주차
0,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),2022-02-14,S-OIL,셀프,1638,1508,7
1,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),2022-02-15,S-OIL,셀프,1638,1518,7
2,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),2022-02-16,S-OIL,셀프,1668,1518,7
3,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),2022-02-17,S-OIL,셀프,1678,1528,7
4,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),2022-02-18,S-OIL,셀프,1678,1538,7
5,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),2022-02-19,S-OIL,셀프,1688,1538,7
6,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),2022-02-20,S-OIL,셀프,1688,1538,7
7,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),2022-02-21,S-OIL,셀프,1688,1538,8
8,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),2022-02-22,S-OIL,셀프,1688,1538,8
9,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),2022-02-23,S-OIL,셀프,1698,1548,8

##### 주차별 휘발유/경유 평균 가격

In [317]:
#주차별 휘발유 평균 가격
weekly_avg_gasolin = data.groupby(["주차"])["휘발유"].mean().round()
weekly_avg_gasolin

주차
7     1688.0
8     1708.0
9     1747.0
10    1917.0
11    1996.0
12    1987.0
13    1975.0
14    1959.0
15    1947.0
16    1941.0
17    1944.0
18    1905.0
19    1921.0
20    1945.0
21    1976.0
22    2002.0
23    2031.0
24    2067.0
25    2095.0
26    2108.0
27    2084.0
28    2028.0
29    1956.0
30    1889.0
31    1836.0
32    1799.0
Name: 휘발유, dtype: float64

In [334]:
#주차별 경유 평균 가격
weekly_avg_diesel = data.groupby(["주차"])["경유"].mean().round()
weekly_avg_diesel

주차
7     1526.0
8     1551.0
9     1588.0
10    1791.0
11    1900.0
12    1897.0
13    1889.0
14    1879.0
15    1876.0
16    1879.0
17    1892.0
18    1887.0
19    1925.0
20    1957.0
21    1977.0
22    1990.0
23    2029.0
24    2080.0
25    2115.0
26    2136.0
27    2121.0
28    2087.0
29    2030.0
30    1971.0
31    1930.0
32    1901.0
Name: 경유, dtype: float64

In [ ]:
#컬럼명 추가
weekly_avg_diesel.columns = ["주차", "평균가격"]

##### 상표별 휘발유/경유 평균 가격 비교

In [ ]:
#상표별 휘발유 평균가격