## 부산시 주유소 유가 데이터 전처리
#### 기간 : 20220214~20220809
#### 주차별 평균으로 사용

In [176]:
import pandas as pd
import numpy as np

In [177]:
#데이터 불러오기 
data = pd.read_csv("./data/부산시 주유소 유가 데이터(20220209-20220809).csv", index_col=1, encoding="utf-8")
data

,번호,상호,주소,기간,상표,셀프여부,휘발유,경유
지역,,,,,,,,
부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220209,S-OIL,셀프,1638,1498
부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220210,S-OIL,셀프,1638,1498
부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220211,S-OIL,셀프,1638,1498
부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220212,S-OIL,셀프,1638,1498
부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220213,S-OIL,셀프,1638,1498
...,...,...,...,...,...,...,...,...
부산 해운대구,A0031437,현대오일뱅크㈜직영 센텀셀프주유소,부산 해운대구 해운대로 179 (재송동),20220805,현대오일뱅크,셀프,1810,1920
부산 해운대구,A0031437,현대오일뱅크㈜직영 센텀셀프주유소,부산 해운대구 해운대로 179 (재송동),20220806,현대오일뱅크,셀프,1810,1920
부산 해운대구,A0031437,현대오일뱅크㈜직영 센텀셀프주유소,부산 해운대구 해운대로 179 (재송동),20220807,현대오일뱅크,셀프,1810,1920
부산 해운대구,A0031437,현대오일뱅크㈜직영 센텀셀프주유소,부산 해운대구 해운대로 179 (재송동),20220808,현대오일뱅크,셀프,1810,1920
부산 해운대구,A0031437,현대오일뱅크㈜직영 센텀셀프주유소,부산 해운대구 해운대로 179 (재송동),20220809,현대오일뱅크,셀프,1760,1870

In [178]:
#인덱스 생성
data.reset_index(inplace=True)

#### 데이터 확인

In [179]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69331 entries, 0 to 69330
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      69331 non-null  object
 1   번호      69331 non-null  object
 2   상호      69331 non-null  object
 3   주소      69331 non-null  object
 4   기간      69331 non-null  int64
 5   상표      69331 non-null  object
 6   셀프여부    69331 non-null  object
 7   휘발유     69331 non-null  int64
 8   경유      69331 non-null  int64
dtypes: int64(3), object(6)
memory usage: 4.8+ MB

In [180]:
data.head()

,지역,번호,상호,주소,기간,상표,셀프여부,휘발유,경유
0,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220209,S-OIL,셀프,1638,1498
1,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220210,S-OIL,셀프,1638,1498
2,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220211,S-OIL,셀프,1638,1498
3,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220212,S-OIL,셀프,1638,1498
4,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220213,S-OIL,셀프,1638,1498

In [181]:
data.isnull().sum()

지역      0
번호      0
상호      0
주소      0
기간      0
상표      0
셀프여부    0
휘발유     0
경유      0
dtype: int64

In [182]:
data.describe()

                 기간           휘발유            경유
count  6.933100e+04  69331.000000  69331.000000
mean   2.022050e+07   1936.593472   1904.278317
std    1.749156e+02    168.172272    180.967678
min    2.022021e+07      0.000000      0.000000
25%    2.022033e+07   1888.000000   1855.000000
50%    2.022051e+07   1959.000000   1925.000000
75%    2.022062e+07   2028.000000   2028.000000
max    2.022081e+07   2385.000000   2438.000000

In [183]:
#휘발유 0값 추출
data[data["휘발유"] == 0].head()

,지역,번호,상호,주소,기간,상표,셀프여부,휘발유,경유
766,부산 강서구,A0027640,(주)비에스이강동주유소,부산 강서구 낙동북로 18 (강동동),20220323,현대오일뱅크,셀프,0,1899
7174,부산 강서구,A0027564,우리2주유소,부산 강서구 낙동북로 142 (강동동),20220404,S-OIL,셀프,0,0
7175,부산 강서구,A0027564,우리2주유소,부산 강서구 낙동북로 142 (강동동),20220405,S-OIL,셀프,0,0
17567,부산 기장군,A0031933,삼2주유소,부산 기장군 일광면 기장대로 1291,20220807,S-OIL,일반,0,1894
17568,부산 기장군,A0031933,삼2주유소,부산 기장군 일광면 기장대로 1291,20220808,S-OIL,일반,0,1879

In [184]:
#경유 0값 추출
len(data[data["경유"] == 0])

17

#### 주별 평균 데이터(월요일 시작)

In [185]:
#"주차" 컬럼 생성
from cmath import nan

data["주차"] = nan
data

,지역,번호,상호,주소,기간,상표,셀프여부,휘발유,경유,주차
0,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220209,S-OIL,셀프,1638,1498,NaN
1,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220210,S-OIL,셀프,1638,1498,NaN
2,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220211,S-OIL,셀프,1638,1498,NaN
3,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220212,S-OIL,셀프,1638,1498,NaN
4,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220213,S-OIL,셀프,1638,1498,NaN
...,...,...,...,...,...,...,...,...,...,...
69326,부산 해운대구,A0031437,현대오일뱅크㈜직영 센텀셀프주유소,부산 해운대구 해운대로 179 (재송동),20220805,현대오일뱅크,셀프,1810,1920,NaN
69327,부산 해운대구,A0031437,현대오일뱅크㈜직영 센텀셀프주유소,부산 해운대구 해운대로 179 (재송동),20220806,현대오일뱅크,셀프,1810,1920,NaN
69328,부산 해운대구,A0031437,현대오일뱅크㈜직영 센텀셀프주유소,부산 해운대구 해운대로 179 (재송동),20220807,현대오일뱅크,셀프,1810,1920,NaN
69329,부산 해운대구,A0031437,현대오일뱅크㈜직영 센텀셀프주유소,부산 해운대구 해운대로 179 (재송동),20220808,현대오일뱅크,셀프,1810,1920,NaN
69330,부산 해운대구,A0031437,현대오일뱅크㈜직영 센텀셀프주유소,부산 해운대구 해운대로 179 (재송동),20220809,현대오일뱅크,셀프,1760,1870,NaN

In [186]:
#int64->object->datetime 타입변경
data['기간'] = pd.to_datetime(data['기간'].astype(str))
data

,지역,번호,상호,주소,기간,상표,셀프여부,휘발유,경유,주차
0,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),2022-02-09,S-OIL,셀프,1638,1498,NaN
1,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),2022-02-10,S-OIL,셀프,1638,1498,NaN
2,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),2022-02-11,S-OIL,셀프,1638,1498,NaN
3,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),2022-02-12,S-OIL,셀프,1638,1498,NaN
4,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),2022-02-13,S-OIL,셀프,1638,1498,NaN
...,...,...,...,...,...,...,...,...,...,...
69326,부산 해운대구,A0031437,현대오일뱅크㈜직영 센텀셀프주유소,부산 해운대구 해운대로 179 (재송동),2022-08-05,현대오일뱅크,셀프,1810,1920,NaN
69327,부산 해운대구,A0031437,현대오일뱅크㈜직영 센텀셀프주유소,부산 해운대구 해운대로 179 (재송동),2022-08-06,현대오일뱅크,셀프,1810,1920,NaN
69328,부산 해운대구,A0031437,현대오일뱅크㈜직영 센텀셀프주유소,부산 해운대구 해운대로 179 (재송동),2022-08-07,현대오일뱅크,셀프,1810,1920,NaN
69329,부산 해운대구,A0031437,현대오일뱅크㈜직영 센텀셀프주유소,부산 해운대구 해운대로 179 (재송동),2022-08-08,현대오일뱅크,셀프,1810,1920,NaN
69330,부산 해운대구,A0031437,현대오일뱅크㈜직영 센텀셀프주유소,부산 해운대구 해운대로 179 (재송동),2022-08-09,현대오일뱅크,셀프,1760,1870,NaN

In [187]:
#
from datetime import datetime
data['기간']=data['기간'].dt.strftime("%Y%m%d")

In [188]:
data['기간']

0        20220209
1        20220210
2        20220211
3        20220212
4        20220213
           ...
69326    20220805
69327    20220806
69328    20220807
69329    20220808
69330    20220809
Name: 기간, Length: 69331, dtype: object

In [189]:
a= []

for i in data["기간"]:
    a = data["기간"][i].datetime.isocalendar()
print(a)

KeyError: '20220209'

In [ ]:
#주별로 어떻게 뽑아야하지
#1주차 2월 14일부터 20일
"""
for i in data["기간"]:
    if i <= 20220220: data["주차"] = 1
    elif i <= 20220227: data["주차"] = 2
data["주차"]
"""

'\nfor i in data["기간"]:\n    if i <= 20220220: data["주차"] = 1\n    elif i <= 20220227: data["주차"] = 2\ndata["주차"]\n'

In [ ]:
#상호별로 그룹화
#data.groupby(["상호"]).