## 부산시 주유소 유가 데이터 전처리
#### 기간 : 20220214~20220809
#### 주차별 평균으로 사용

In [1]:
import pandas as pd

In [25]:
#데이터 불러오기 
data = pd.read_csv("./부산시 주유소 유가 데이터(20220209-20220809).csv", index_col=1, encoding="utf-8")
data

,번호,상호,주소,기간,상표,셀프여부,휘발유,경유
지역,,,,,,,,
부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220209,S-OIL,셀프,1638,1498
부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220210,S-OIL,셀프,1638,1498
부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220211,S-OIL,셀프,1638,1498
부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220212,S-OIL,셀프,1638,1498
부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220213,S-OIL,셀프,1638,1498
...,...,...,...,...,...,...,...,...
부산 해운대구,A0031437,현대오일뱅크㈜직영 센텀셀프주유소,부산 해운대구 해운대로 179 (재송동),20220805,현대오일뱅크,셀프,1810,1920
부산 해운대구,A0031437,현대오일뱅크㈜직영 센텀셀프주유소,부산 해운대구 해운대로 179 (재송동),20220806,현대오일뱅크,셀프,1810,1920
부산 해운대구,A0031437,현대오일뱅크㈜직영 센텀셀프주유소,부산 해운대구 해운대로 179 (재송동),20220807,현대오일뱅크,셀프,1810,1920
부산 해운대구,A0031437,현대오일뱅크㈜직영 센텀셀프주유소,부산 해운대구 해운대로 179 (재송동),20220808,현대오일뱅크,셀프,1810,1920
부산 해운대구,A0031437,현대오일뱅크㈜직영 센텀셀프주유소,부산 해운대구 해운대로 179 (재송동),20220809,현대오일뱅크,셀프,1760,1870

In [26]:
#인덱스 생성
data.reset_index(inplace=True)

#### 데이터 확인

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69331 entries, 0 to 69330
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      69331 non-null  object
 1   번호      69331 non-null  object
 2   상호      69331 non-null  object
 3   주소      69331 non-null  object
 4   기간      69331 non-null  int64
 5   상표      69331 non-null  object
 6   셀프여부    69331 non-null  object
 7   휘발유     69331 non-null  int64
 8   경유      69331 non-null  int64
dtypes: int64(3), object(6)
memory usage: 4.8+ MB

In [19]:
data.head()

,지역,번호,상호,주소,기간,상표,셀프여부,휘발유,경유
0,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220209,S-OIL,셀프,1638,1498
1,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220210,S-OIL,셀프,1638,1498
2,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220211,S-OIL,셀프,1638,1498
3,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220212,S-OIL,셀프,1638,1498
4,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220213,S-OIL,셀프,1638,1498

In [21]:
data.isnull().sum()

지역      0
번호      0
상호      0
주소      0
기간      0
상표      0
셀프여부    0
휘발유     0
경유      0
dtype: int64

In [37]:
data.describe()

                 기간           휘발유            경유
count  6.933100e+04  69331.000000  69331.000000
mean   2.022050e+07   1936.593472   1904.278317
std    1.749156e+02    168.172272    180.967678
min    2.022021e+07      0.000000      0.000000
25%    2.022033e+07   1888.000000   1855.000000
50%    2.022051e+07   1959.000000   1925.000000
75%    2.022062e+07   2028.000000   2028.000000
max    2.022081e+07   2385.000000   2438.000000

In [36]:
#휘발유 0값 추출
data[data["휘발유"] == 0].head()

,지역,번호,상호,주소,기간,상표,셀프여부,휘발유,경유
766,부산 강서구,A0027640,(주)비에스이강동주유소,부산 강서구 낙동북로 18 (강동동),20220323,현대오일뱅크,셀프,0,1899
7174,부산 강서구,A0027564,우리2주유소,부산 강서구 낙동북로 142 (강동동),20220404,S-OIL,셀프,0,0
7175,부산 강서구,A0027564,우리2주유소,부산 강서구 낙동북로 142 (강동동),20220405,S-OIL,셀프,0,0
17567,부산 기장군,A0031933,삼2주유소,부산 기장군 일광면 기장대로 1291,20220807,S-OIL,일반,0,1894
17568,부산 기장군,A0031933,삼2주유소,부산 기장군 일광면 기장대로 1291,20220808,S-OIL,일반,0,1879

In [35]:
#경유 0값 추출
len(data[data["경유"] == 0])

17

#### 주별 평균 데이터(월요일 시작)

In [46]:
#상호별로 그룹화
data.groupby(["상호"])

In [45]:
#주별로 어떻게 뽑아야하지
#1주차 2월 14일부터 20일
data[data["기간"] == 20220214]

,지역,번호,상호,주소,기간,상표,셀프여부,휘발유,경유
5,부산 강서구,A0033158,(주)DJS신항만물류단지주유소,부산 강서구 가락대로 834 (범방동),20220214,S-OIL,셀프,1638,1508
187,부산 강서구,A0027485,(주)경인에너지,부산 강서구 생곡로 40 (녹산동),20220214,S-OIL,일반,1668,1498
369,부산 강서구,A0030694,(주)만은에너지 대사리주유소,부산 강서구 낙동북로 65 (강동동),20220214,GS칼텍스,셀프,1668,1498
551,부산 강서구,A0027718,(주)범방주유소,부산 강서구 가락대로 963,20220214,SK에너지,일반,1649,1479
733,부산 강서구,A0027640,(주)비에스이강동주유소,부산 강서구 낙동북로 18 (강동동),20220214,현대오일뱅크,셀프,1809,1548
...,...,...,...,...,...,...,...,...,...
68438,부산 해운대구,A0031278,한양 브라보주유소,부산 해운대구 해운대로 1238 (송정동),20220214,알뜰주유소,일반,1695,1495
68620,부산 해운대구,A0031394,해변주유소,부산 해운대구 해운대로 592 (우동),20220214,SK에너지,셀프,1649,1468
68802,부산 해운대구,A0027150,해운대주유소,부산 해운대구 좌동순환로 375,20220214,S-OIL,셀프,1739,1559
68984,부산 해운대구,A0031723,현대오일뱅크(주)직영 장산IC주유소,부산 해운대구 양운로 107 (좌동),20220214,GS칼텍스,일반,1759,1579
69154,부산 해운대구,A0031437,현대오일뱅크㈜직영 센텀셀프주유소,부산 해운대구 해운대로 179 (재송동),20220214,현대오일뱅크,셀프,1684,1519